.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(var(--secondary-25-opacity), var(--main-color) 120%);
}

.login-brand {
    font-size: 5rem;
    font-family: logo-font;
    color: var(--secondary-color);
}

.login-form-container {
    flex: 1;
    display: grid;
    place-content: start;

    margin-top: 2rem;
}

.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30vw;
    min-width: 250px;
    border-radius: 5px;
    padding-top: 2em;
    background-color: white;
    box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.499);
}

.login-form > input,
.register-form > input {
    width: 75%;
    margin: 2%;
    height: 3em;
    border: 1px solid rgba(0, 0, 0, 0.135);
    padding-left: 5%;
    border-radius: 5px;
    background-color: white;
}

.login-form > input::placeholder,
.register-form > input::placeholder {
    padding-left: 1%;
    color: rgb(0, 0, 0);
    opacity: 50%;
}

.login-form > input:focus,
.register-form > input:focus {
    background-color: var(--main-50-opacity);
    border: 1px solid black;
}

.login-form > button,
.register-form > button {
    background-color: var(--secondary-color);
    color: white;
    font-size: 1em;
    width: 80%;
    padding: 14px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 5%;
    cursor: pointer;
}

.login-form > button:hover,
.register-form > button:hover {
    opacity: 80%;
}

.login-form > button:active
.register-container > button:active {
    background-color: white;
    border: 1px solid black;
    color: var(--secondary-color);
}

.login-separate-line,
.register-separate-line {
    height: 0;
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.462);
}

#login-new-account {
    background-color: var(--main-color);
}

.login-error,
.register-error,
.register-success {
    height: fit-content;
    width: 20%;
    min-width: fit-content;

    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 -2px 20px 1px rgba(0, 0, 0, 0.499);

    color: white;
    font-size: 1.25rem;
    background-color: var(--error-color);

    display: flex;
    justify-content: center;
}

.login-warning-icon,
.register-success-icon {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    margin-right: 5px;
}

.register-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.506);
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form {
    padding-top: unset;
    box-shadow: unset;
}

.register-error,
.register-success { 
    position: absolute;
    bottom: 0;
}

.register-success {
    background-color: rgb(196, 144, 0);
}